<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Suwannaphum:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShelfMaster</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-content">
          <h1 class="logo">ShelfMaster</h1>
          <div>
            <button class="logout" onclick="location.href='/signup'">Signup</button>
            <button class="logout" onclick="location.href='/signin'">Login</button>
          </div>
        </div>
      </header>
      <% if (locals.msg) { %>
        <div class="alert <%= type === 'success' ? 'alert-success' : 'alert-error' %>">
            <%= msg %>
        </div>
    <% } %>
      <main class="main-content">
        <h1>Create New Account</h1>
        <div class="button-group">
          <form action="/signup" method="post">
            <div class="form-element">
              <label class="form-label">Email</label>
              <input type="email" name="email" placeholder="Enter email" />
            </div>
            <div class="form-element">
              <label class="form-label">Username</label>
              <input
                type="text"
                name="username"
                placeholder="Enter unique username"
              />
            </div>
            <div class="form-element">
              <label class="form-label">Password</label>
              <input type="password" name="password" placeholder="Password" />
            </div>
            <button class="submit-button" type="submit">Submit</button>
          </form>
        </div>
      </main>
    </div>
  </body>
</html>
