/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 100px;
    align-items: center;
    font-family: "Suwannaphum", serif;
    background: #0C0B10;
    color: #fff;

}

.suwannaphum-thin {
    font-family: "Suwannaphum", serif;
    font-weight: 100;
    font-style: normal;
}

.suwannaphum-light {
    font-family: "Suwannaphum", serif;
    font-weight: 300;
    font-style: normal;
}

.suwannaphum-regular {
    font-family: "Suwannaphum", serif;
    font-weight: 400;
    font-style: normal;
}

.suwannaphum-bold {
    font-family: "Suwannaphum", serif;
    font-weight: 700;
    font-style: normal;
}

.suwannaphum-black {
    font-family: "Suwannaphum", serif;
    font-weight: 900;
    font-style: normal;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    border-radius: 22px;
    background: #1F1E25;
    padding: 10px 30px 10px;
}

.logo {
    color: #4C71F1;
    text-align: center;
    font-family: Suwannaphum;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logout {
    color: #4C71F1;
    background: none;
    text-align: center;
    font-family: Suwannaphum;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user-call {
    color: #818181;
    text-align: center;
    font-family: Suwannaphum;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Suwannaphum;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 22px;
    background: #1F1E25;
}

.button-group {
    max-width: 560px;
    border-radius: 13px;
    background: #151419;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 15px 40px;
}

.button-group button {
    margin: 5px;
    border-radius: 10px;
    background: #4C71F1;
    width: 240px;
    height: 50px;
    color: #FFF;
    text-align: center;
    font-family: Suwannaphum;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* flex-shrink: 0; */
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}